/*
date:23 July 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi
*/
@font-face{
    font-family: openSans;
    src: url("./font/openSans.ttf");
}
*{
    margin: 0;
    padding: 0;
    font-family: openSans;
}
body{
    background-color: #3F3F3F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.frame{
    width: 40%;
    height: 50%;
    background-color: white;
    border-radius: 5px;
    padding-top: 2rem;
    position: relative;
}
svg{
    margin-inline: auto;
    display: block;
    width: 40%;
    height: 40%;
}
h1{
    text-align: center;
    font-size: 3rem;
}
p{
    text-align: center;
}
button{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #F65656;
    color: white;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color: #EC3434;
}