/* 
this file create at 25 March 2025 by Ali Shahbazi 
github : https://www.github.com/imShahbazi
gitlab : https://wwww.gitlab.com/AliShahbazi 
*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to top right, #3A92AF 0%, #5CA05A 100%);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
.frame{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 1px;
    box-shadow:1px 2px 10px 0px black;
}