/* this file create at 16 december 2024 by Ali Shahbazi 
github : https://www.github.com/imShahbazi
gitlab : https://wwww.gitlab.com/AliShahbazi */
body{
    display: flex;
    justify-content: center;
    background-color: black;
}
.frame{
    width: 400px;
    height: 400px;
    background-color: aqua;
    border-radius:99999px;
    overflow: hidden;
    position: relative;
}
.floor{
    background-color: rgb(238, 238, 138);
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: 0;
}