/* this file create at 16 december 2024 by Ali Shahbazi 
github : https://www.github.com/imShahbazi
gitlab : https://wwww.gitlab.com/AliShahbazi */
body{
    display: flex;
    justify-content: center;
    background-color: black;
}
.frame{
    width: 400px;
    height: 400px;
    background-color: aqua;
    border-radius:99999px;
    overflow: hidden;
    position: relative;
    animation-name: frame;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.floor{
    background-color: rgb(238, 238, 138);
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: 0;
}
.whiteFrame{
    position: absolute;
    bottom: 130px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.white1{
    width: 0;
    height: 0;
    border-left: 115px solid transparent;
    border-bottom: 100px solid white;
    animation-name: white1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.white2{
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-bottom: 100px solid rgb(182, 182, 182);
    animation-name: white2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.shadow{
    position: absolute;
    width: 100%;
    height: 90px;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.7);
    bottom: 40px;
    clip-path: polygon(93px 0 , 308px 0,415px 0);
    animation-name: shadow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.sun-container{
    width: 100%;
    height: 100%;
    left: -100px;
    position: absolute;
    animation-name: sun;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.sun{
    width: 80px;
    height: 80px;
    background-color: yellow;
    border-radius: 99999px;
    position: absolute;
    bottom: 130px;
    left: 0;
}
@keyframes frame{
    0%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes white2{
    0%{
        border-bottom: 100px solid rgb(182, 182, 182);
    }
    60%{
        border-bottom: 100px solid rgb(182, 182, 182);
    }
    100%{
        border-bottom: 100px solid white;
    }
}
@keyframes white1{
    0%{
        border-bottom: 100px solid white;
    }
    60%{
        border-bottom: 100px solid white;
    }
    100%{
        border-bottom: 100px solid rgb(182, 182, 182);
    }
}
@keyframes shadow {
    0%{
        clip-path: polygon(93px 0 , 308px 0,415px 0);
    }
    50%{
        clip-path: polygon(93px 0 , 308px 0,415px 70px);
    }
    60%{
        clip-path: polygon(93px 0 , 308px 0,415px 70px);
    }
    100%{
        clip-path: polygon(93px 0 , 308px 0,0px 70px);
    }
}
@keyframes sun{
    0%{
        left: -100px;
        transform: rotate(0deg);
    }
    50%{
        left: 0;
        transform: rotate(60deg)
    }
    60%{
        left: 0;
        transform: rotate(60deg)
    }
    100%{
        left: 100px;
        transform: rotate(180deg)
    }
}