/* this file create at 12 March 2025 by Ali Shahbazi 
github : https://www.github.com/imShahbazi
gitlab : https://wwww.gitlab.com/AliShahbazi */
@font-face {
    font-family: yekan;
    src: url("./fonts/Yekan.ttf");
}
*{
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    background-color: #4CB6DE;
}
.frame{
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: 500px;
    height: 500px;
    position: relative;
}
.quot{
    position: absolute;
    top: 17%;
    right: 1%;
    font-size: 250px;
    color: white;
    font-family: Arial;
    opacity: 0.3;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.content{
    width: 95%;
    display: grid;
    grid-template-columns: 45% 45%;
    gap:50px;
    font-family: yekan;
    font-size: 20px;
    font-weight: bold;
}
.content div{
    text-align: center;
}
.content>div>div{
    display: inline-block;
    cursor: pointer;
    background-color: #286F8A;
    padding: 4px;
    position: relative;
}
.popover{
    display: block;
    position: absolute;
    top: -50px;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #286F8A;
    opacity: 0;
    transition: 400ms;
}
.popover::after{
    width: 7px;
    height: 7px;
    background-color: #286F8A;
    position: absolute;
    content: '';
    bottom: -3.5px;
    transform: rotate(45deg);
}
.popover .white{
    background-color: white;
    width: 100%;
    color: black;
    font-size: 15px;
    padding: 4px 0 4px 0;
}
.popover .white p{
    width: fit-content;
    margin-right: 4px;
}
.popover>p{
    width: 100%;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    padding: 8px 0 8px 0;
    margin-right: 4px;
}
.selection:hover .popover{
    top: -69px;
    opacity: 1;
}