/* this file create at 12 March 2025 by Ali Shahbazi 
github : https://www.github.com/imShahbazi
gitlab : https://wwww.gitlab.com/AliShahbazi */
*{
    margin: 0;
    padding: 0;
}
.frame{
    display: flex;
    margin-inline: auto;
    width: 500px;
    height: 500px;
    background-color: #4CB6DE;
    position: relative;
}
.quot{
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 250px;
    color: white;
    font-family: Arial;
    opacity: 0.5;
}