/*
this file created at 18 April 2025 by Ali Shahbazi 
github : https://www.github.com/imShahbazi
gitlab : https://wwww.gitlab.com/AliShahbazi 
*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}