/* this file create at 16 december 2024 by Ali Shahbazi 
github : https://www.github.com/imShahbazi
gitlab : https://wwww.gitlab.com/AliShahbazi */
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Helvetica, sans-serif;
}
body{
    background-color: #264057;
    display: flex;
    justify-content: center;
}
.frame{
    width: 400px;
    height: 400px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.blue{
    background-color: #5f98cd;
    height: 20%;
    display: flex;
    align-items: center;
    
}
.menueIcon{
    width: 50px;
    margin-left: 20px;
    height: 20px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.5s;
}
.menueIcon .line{
    width: 100%;
    height: 5px;
    background-color: white;
    display: block;
    border-radius: 50px;
}
.menueIcon .line:nth-child(2){
    margin-top: 15px;
}
.menueIcon .line:nth-child(1){
    width: 63%;
}
.menueIcon .circle{
    border-radius: 99999px;
    width: 15px;
    height: 15px;
    background-color: white;
    position: absolute;
    top: -5px;
    right: 0;
}
.menueIcon:hover{
    opacity: 1;
    transition: 0.5s;
}
.blue>span{
    color: white;
    font-size: 25px;
    font-weight: bold;
    display: block;
    text-align: center;
}
.search-icon{
    position: relative;
}
.search-icon .circle{
    border-radius: 9999px;
    border:7px solid white;
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 1;
}
.circle div{
    background-color: #5f98cd;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
}
.search-icon .line{
    width: 70%;
    height: 7px;
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    right: -13px;
    bottom: 0;
    border-radius: 50px;
    z-index: 0;
}