/* this file create at 16 december 2024 by Ali Shahbazi 
github : https://www.github.com/imShahbazi
gitlab : https://wwww.gitlab.com/AliShahbazi */
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Helvetica, sans-serif;
}
body{
    background-color: #264057;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.frame{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.blue{
    background-color: #5f98cd;
    height: 20%;
    display: flex;
    align-items: center;
    position: relative;
    
}
.menueIcon{
    width: 50px;
    margin-left: 20px;
    height: 20px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.5s;
}
.menueIcon .line{
    width: 100%;
    height: 5px;
    background-color: white;
    display: block;
    border-radius: 50px;
}
.menueIcon .line:nth-child(2){
    margin-top: 15px;
}
.menueIcon .line:nth-child(1){
    width: 63%;
}
.menueIcon .circle{
    border-radius: 99999px;
    width: 15px;
    height: 15px;
    background-color: white;
    position: absolute;
    top: -5px;
    right: 0;
}
.menueIcon:hover{
    opacity: 1;
    transition: 0.5s;
}
.middle{
    width: 70%;
}
.middle >span{
    color: white;
    font-size: 25px;
    font-weight: bold;
    display: block;
    text-align: center;
}
.middle input{
    border:none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 100px;
    width: 70%;
    position: absolute;
    padding: 20px;
    left: 20%;
    top: 50%;
    bottom: 50%;
    opacity: 0;
    transform: translateY(-50%);
    transition: 0.5s;
}
.search-icon{
    position: relative;
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}
.search-icon:hover{
    opacity: 1;
    transition: 0.5s;
}
.search-icon .circle{
    border-radius: 9999px;
    border:5px solid white;
    width: 15px;
    height: 15px;
    position: relative;
    z-index: 1;
}
.circle div{
    background-color: #5f98cd;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
}
.search-icon .line{
    width: 60%;
    height: 4px;
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    right: -6px;
    bottom: 0;
    border-radius: 50px;
    z-index: 0;
}
.asideMenue{
    background-color: #43627d;
    height: 350px;
    width: 0;
    margin-top: auto;
    margin-bottom: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.5s;
    overflow: hidden;
}
.asideMenue div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px 20px 20px;
}
.asideMenue div img{
    opacity: 0.5;
    margin-right: auto;
}
.asideMenue div span{
    display: block;
    width: 50%;
    padding-right: 20px;
    text-align: left;
}
.asideMenue div:hover{
    background-color: #385269;
}
.white{
    border-left: 5px solid #cfcfcf;
    width: 87%;
    margin-left: auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}
.white div{
    position: relative;
    z-index: 1;
    padding-left: 18px;
    left: -8.2px;
    cursor: pointer;
}
.white div:before{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 2px solid #5F98CD;
    left: 0;
    top: 0;
    border-radius: 999px;
    z-index: 100;
    content: '';
}
.white div:hover p{
    color: #5F98CD;
}