/*
date:10 August 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi 
*/
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E47512;
    height: 100vh;
}
.cube{
    width: 20%;
    aspect-ratio: 1/1;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px) rotateX(70deg) rotateZ(-45deg);
}
.side{
    width: 100%;
    height: 100%;
    position: absolute;
}
.side1{
    background-color: white;
    transform: translateZ(100px);
}