/*
date:13 August 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi 
*/
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313C46;
    height: 100vh;
}
.frame{
    display: flex;
    width: 40%;
    height: 20%;
    background-color: white;
    border-radius: 5px;
}