/*
date:13 August 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi 
*/
@font-face {
    font-family: o;
    src: url("./font/openSans.ttf");
}
*{
    margin: 0;
    padding: 0;
    font-family: o;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313C46;
    height: 100vh;
}
.frame{
    display: flex;
    width: 20%;
    height: 20%;
    background-color: white;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
}
.frame div{
    font-size: 5rem;
    color: #478BB8;
}