/*
date:13 August 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi 
*/
@font-face {
    font-family: o;
    src: url("./font/openSans.ttf");
}
*{
    margin: 0;
    padding: 0;
    font-family: o;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313C46;
    height: 100vh;
}
.frame{
    display: flex;
    width: 400px;
    height: 5rem;
    background-color: white;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
}
.frame div{
    font-size: 5rem;
    color: #478BB8;
    transform: translateY(30.5rem);
}
.div4{
    animation: move 10s steps(1) infinite;
}
.div3{
    animation: move 100s steps(1) infinite;
}
span{
    width: 100%;
    text-align: center;
    display: block;
}
@keyframes move{
    0%{
        transform: translateY(30.5rem);
    }
    10%{
        transform: translateY(23.7rem);
    }
    20%{
        transform: translateY(16.9rem);
    }
    30%{
        transform: translateY(10.1rem);
    }
    40%{
        transform: translateY(3.3rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
    60%{
        transform: translateY(-10.3rem);
    }
    70%{
        transform: translateY(-17.1rem);
    }
    80%{
        transform: translateY(-23.9rem);
    }
    90%{
        transform: translateY(-30.7rem);
    }
}