/*
date:12 August 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi 
*/
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #8e44ad;
    overflow: hidden;
}
.egg{
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 200px 200px 200px 200px / 300px 300px 200px 200px;
    position: absolute;
    left: 50%;
    top: -200%;
    transform: translate(-50%,-50%);
    animation: egg 3s infinite;
    transform-origin: center bottom;
}
@keyframes egg{
    0%{
        top: -200%;
        transform: translate(-50%,-50%) rotate(0) scaleY(1);
    }
    14.285714286%{
        top: 70%;
        transform: translate(-50%,-50%) rotate(0) scaleY(1);
    }
    20.571428571%{
        top: 40%;
        transform: translate(-50%,-50%) rotate(0) scaleY(1.180);
    }
    42.857142858%{
        top: 50%;
        transform: translate(-50%,-50%) rotate(0) scaleY(1);
    }
    50.142857144%{
        top: 50%;
        transform: translate(-50%,-50%) rotate(5deg) scaleY(1);
    }
    64.42857143%{
        top: 50%;
        transform: translate(-50%,-50%) rotate(-5deg) scaleY(1);
    }
    78.714285716%{
        top: 50%;
        transform: translate(-50%,-50%) rotate(0deg) scaleY(1);
    }
    100%{
        top: 150%;
        transform: translate(-50%,-50%) rotate(0deg) scaleY(1);
    }
}