/*
date:11 August 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi 
*/
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.frame {
  background-color: #2c3e50;
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(20, minmax(0, 1fr));
  grid-template-rows: repeat(20, minmax(0, 1fr));
  position: relative;
  overflow: hidden;
}

.frame a {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 2;
}

.frame div {
  width: 20px;
  aspect-ratio: 1/1;
  background-color: #2ecc71;
  position: absolute;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  z-index: 1;
}

.frame div::after {
  content: "";
  width: 150%;
  aspect-ratio: 1/1;
  border: 3px solid #2ecc71;
  position: absolute;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  animation: circle 1s infinite linear;
}

.a21:hover ~ div {
  left: 20px;
  top: 20px;
  transform: none;
}

.a0:hover ~ div {
  left: 0px;
  top: 0px;
  transform: none;
}

.a1:hover ~ div {
  left: 20px;
  top: 0px;
  transform: none;
}

.a2:hover ~ div {
  left: 40px;
  top: 0px;
  transform: none;
}

.a3:hover ~ div {
  left: 60px;
  top: 0px;
  transform: none;
}

.a4:hover ~ div {
  left: 80px;
  top: 0px;
  transform: none;
}

.a5:hover ~ div {
  left: 100px;
  top: 0px;
  transform: none;
}

.a6:hover ~ div {
  left: 120px;
  top: 0px;
  transform: none;
}

.a7:hover ~ div {
  left: 140px;
  top: 0px;
  transform: none;
}

.a8:hover ~ div {
  left: 160px;
  top: 0px;
  transform: none;
}

.a9:hover ~ div {
  left: 180px;
  top: 0px;
  transform: none;
}

.a10:hover ~ div {
  left: 200px;
  top: 0px;
  transform: none;
}

.a11:hover ~ div {
  left: 220px;
  top: 0px;
  transform: none;
}

.a12:hover ~ div {
  left: 240px;
  top: 0px;
  transform: none;
}

.a13:hover ~ div {
  left: 260px;
  top: 0px;
  transform: none;
}

.a14:hover ~ div {
  left: 280px;
  top: 0px;
  transform: none;
}

.a15:hover ~ div {
  left: 300px;
  top: 0px;
  transform: none;
}

.a16:hover ~ div {
  left: 320px;
  top: 0px;
  transform: none;
}

.a17:hover ~ div {
  left: 340px;
  top: 0px;
  transform: none;
}

.a18:hover ~ div {
  left: 360px;
  top: 0px;
  transform: none;
}

.a19:hover ~ div {
  left: 380px;
  top: 0px;
  transform: none;
}

.a20:hover ~ div {
  left: 0px;
  top: 20px;
  transform: none;
}

.a21:hover ~ div {
  left: 20px;
  top: 20px;
  transform: none;
}

.a22:hover ~ div {
  left: 40px;
  top: 20px;
  transform: none;
}

.a23:hover ~ div {
  left: 60px;
  top: 20px;
  transform: none;
}

.a24:hover ~ div {
  left: 80px;
  top: 20px;
  transform: none;
}

.a25:hover ~ div {
  left: 100px;
  top: 20px;
  transform: none;
}

.a26:hover ~ div {
  left: 120px;
  top: 20px;
  transform: none;
}

.a27:hover ~ div {
  left: 140px;
  top: 20px;
  transform: none;
}

.a28:hover ~ div {
  left: 160px;
  top: 20px;
  transform: none;
}

.a29:hover ~ div {
  left: 180px;
  top: 20px;
  transform: none;
}

.a30:hover ~ div {
  left: 200px;
  top: 20px;
  transform: none;
}

.a31:hover ~ div {
  left: 220px;
  top: 20px;
  transform: none;
}

.a32:hover ~ div {
  left: 240px;
  top: 20px;
  transform: none;
}

.a33:hover ~ div {
  left: 260px;
  top: 20px;
  transform: none;
}

.a34:hover ~ div {
  left: 280px;
  top: 20px;
  transform: none;
}

.a35:hover ~ div {
  left: 300px;
  top: 20px;
  transform: none;
}

.a36:hover ~ div {
  left: 320px;
  top: 20px;
  transform: none;
}

.a37:hover ~ div {
  left: 340px;
  top: 20px;
  transform: none;
}

.a38:hover ~ div {
  left: 360px;
  top: 20px;
  transform: none;
}

.a39:hover ~ div {
  left: 380px;
  top: 20px;
  transform: none;
}

.a40:hover ~ div {
  left: 0px;
  top: 40px;
  transform: none;
}

.a41:hover ~ div {
  left: 20px;
  top: 40px;
  transform: none;
}

.a42:hover ~ div {
  left: 40px;
  top: 40px;
  transform: none;
}

.a43:hover ~ div {
  left: 60px;
  top: 40px;
  transform: none;
}

.a44:hover ~ div {
  left: 80px;
  top: 40px;
  transform: none;
}

.a45:hover ~ div {
  left: 100px;
  top: 40px;
  transform: none;
}

.a46:hover ~ div {
  left: 120px;
  top: 40px;
  transform: none;
}

.a47:hover ~ div {
  left: 140px;
  top: 40px;
  transform: none;
}

.a48:hover ~ div {
  left: 160px;
  top: 40px;
  transform: none;
}

.a49:hover ~ div {
  left: 180px;
  top: 40px;
  transform: none;
}

.a50:hover ~ div {
  left: 200px;
  top: 40px;
  transform: none;
}

.a51:hover ~ div {
  left: 220px;
  top: 40px;
  transform: none;
}

.a52:hover ~ div {
  left: 240px;
  top: 40px;
  transform: none;
}

.a53:hover ~ div {
  left: 260px;
  top: 40px;
  transform: none;
}

.a54:hover ~ div {
  left: 280px;
  top: 40px;
  transform: none;
}

.a55:hover ~ div {
  left: 300px;
  top: 40px;
  transform: none;
}

.a56:hover ~ div {
  left: 320px;
  top: 40px;
  transform: none;
}

.a57:hover ~ div {
  left: 340px;
  top: 40px;
  transform: none;
}

.a58:hover ~ div {
  left: 360px;
  top: 40px;
  transform: none;
}

.a59:hover ~ div {
  left: 380px;
  top: 40px;
  transform: none;
}

.a60:hover ~ div {
  left: 0px;
  top: 60px;
  transform: none;
}

.a61:hover ~ div {
  left: 20px;
  top: 60px;
  transform: none;
}

.a62:hover ~ div {
  left: 40px;
  top: 60px;
  transform: none;
}

.a63:hover ~ div {
  left: 60px;
  top: 60px;
  transform: none;
}

.a64:hover ~ div {
  left: 80px;
  top: 60px;
  transform: none;
}

.a65:hover ~ div {
  left: 100px;
  top: 60px;
  transform: none;
}

.a66:hover ~ div {
  left: 120px;
  top: 60px;
  transform: none;
}

.a67:hover ~ div {
  left: 140px;
  top: 60px;
  transform: none;
}

.a68:hover ~ div {
  left: 160px;
  top: 60px;
  transform: none;
}

.a69:hover ~ div {
  left: 180px;
  top: 60px;
  transform: none;
}

.a70:hover ~ div {
  left: 200px;
  top: 60px;
  transform: none;
}

.a71:hover ~ div {
  left: 220px;
  top: 60px;
  transform: none;
}

.a72:hover ~ div {
  left: 240px;
  top: 60px;
  transform: none;
}

.a73:hover ~ div {
  left: 260px;
  top: 60px;
  transform: none;
}

.a74:hover ~ div {
  left: 280px;
  top: 60px;
  transform: none;
}

.a75:hover ~ div {
  left: 300px;
  top: 60px;
  transform: none;
}

.a76:hover ~ div {
  left: 320px;
  top: 60px;
  transform: none;
}

.a77:hover ~ div {
  left: 340px;
  top: 60px;
  transform: none;
}

.a78:hover ~ div {
  left: 360px;
  top: 60px;
  transform: none;
}

.a79:hover ~ div {
  left: 380px;
  top: 60px;
  transform: none;
}

.a80:hover ~ div {
  left: 0px;
  top: 80px;
  transform: none;
}

.a81:hover ~ div {
  left: 20px;
  top: 80px;
  transform: none;
}

.a82:hover ~ div {
  left: 40px;
  top: 80px;
  transform: none;
}

.a83:hover ~ div {
  left: 60px;
  top: 80px;
  transform: none;
}

.a84:hover ~ div {
  left: 80px;
  top: 80px;
  transform: none;
}

.a85:hover ~ div {
  left: 100px;
  top: 80px;
  transform: none;
}

.a86:hover ~ div {
  left: 120px;
  top: 80px;
  transform: none;
}

.a87:hover ~ div {
  left: 140px;
  top: 80px;
  transform: none;
}

.a88:hover ~ div {
  left: 160px;
  top: 80px;
  transform: none;
}

.a89:hover ~ div {
  left: 180px;
  top: 80px;
  transform: none;
}

.a90:hover ~ div {
  left: 200px;
  top: 80px;
  transform: none;
}

.a91:hover ~ div {
  left: 220px;
  top: 80px;
  transform: none;
}

.a92:hover ~ div {
  left: 240px;
  top: 80px;
  transform: none;
}

.a93:hover ~ div {
  left: 260px;
  top: 80px;
  transform: none;
}

.a94:hover ~ div {
  left: 280px;
  top: 80px;
  transform: none;
}

.a95:hover ~ div {
  left: 300px;
  top: 80px;
  transform: none;
}

.a96:hover ~ div {
  left: 320px;
  top: 80px;
  transform: none;
}

.a97:hover ~ div {
  left: 340px;
  top: 80px;
  transform: none;
}

.a98:hover ~ div {
  left: 360px;
  top: 80px;
  transform: none;
}

.a99:hover ~ div {
  left: 380px;
  top: 80px;
  transform: none;
}

.a100:hover ~ div {
  left: 0px;
  top: 100px;
  transform: none;
}

.a101:hover ~ div {
  left: 20px;
  top: 100px;
  transform: none;
}

.a102:hover ~ div {
  left: 40px;
  top: 100px;
  transform: none;
}

.a103:hover ~ div {
  left: 60px;
  top: 100px;
  transform: none;
}

.a104:hover ~ div {
  left: 80px;
  top: 100px;
  transform: none;
}

.a105:hover ~ div {
  left: 100px;
  top: 100px;
  transform: none;
}

.a106:hover ~ div {
  left: 120px;
  top: 100px;
  transform: none;
}

.a107:hover ~ div {
  left: 140px;
  top: 100px;
  transform: none;
}

.a108:hover ~ div {
  left: 160px;
  top: 100px;
  transform: none;
}

.a109:hover ~ div {
  left: 180px;
  top: 100px;
  transform: none;
}

.a110:hover ~ div {
  left: 200px;
  top: 100px;
  transform: none;
}

.a111:hover ~ div {
  left: 220px;
  top: 100px;
  transform: none;
}

.a112:hover ~ div {
  left: 240px;
  top: 100px;
  transform: none;
}

.a113:hover ~ div {
  left: 260px;
  top: 100px;
  transform: none;
}

.a114:hover ~ div {
  left: 280px;
  top: 100px;
  transform: none;
}

.a115:hover ~ div {
  left: 300px;
  top: 100px;
  transform: none;
}

.a116:hover ~ div {
  left: 320px;
  top: 100px;
  transform: none;
}

.a117:hover ~ div {
  left: 340px;
  top: 100px;
  transform: none;
}

.a118:hover ~ div {
  left: 360px;
  top: 100px;
  transform: none;
}

.a119:hover ~ div {
  left: 380px;
  top: 100px;
  transform: none;
}

.a120:hover ~ div {
  left: 0px;
  top: 120px;
  transform: none;
}

.a121:hover ~ div {
  left: 20px;
  top: 120px;
  transform: none;
}

.a122:hover ~ div {
  left: 40px;
  top: 120px;
  transform: none;
}

.a123:hover ~ div {
  left: 60px;
  top: 120px;
  transform: none;
}

.a124:hover ~ div {
  left: 80px;
  top: 120px;
  transform: none;
}

.a125:hover ~ div {
  left: 100px;
  top: 120px;
  transform: none;
}

.a126:hover ~ div {
  left: 120px;
  top: 120px;
  transform: none;
}

.a127:hover ~ div {
  left: 140px;
  top: 120px;
  transform: none;
}

.a128:hover ~ div {
  left: 160px;
  top: 120px;
  transform: none;
}

.a129:hover ~ div {
  left: 180px;
  top: 120px;
  transform: none;
}

.a130:hover ~ div {
  left: 200px;
  top: 120px;
  transform: none;
}

.a131:hover ~ div {
  left: 220px;
  top: 120px;
  transform: none;
}

.a132:hover ~ div {
  left: 240px;
  top: 120px;
  transform: none;
}

.a133:hover ~ div {
  left: 260px;
  top: 120px;
  transform: none;
}

.a134:hover ~ div {
  left: 280px;
  top: 120px;
  transform: none;
}

.a135:hover ~ div {
  left: 300px;
  top: 120px;
  transform: none;
}

.a136:hover ~ div {
  left: 320px;
  top: 120px;
  transform: none;
}

.a137:hover ~ div {
  left: 340px;
  top: 120px;
  transform: none;
}

.a138:hover ~ div {
  left: 360px;
  top: 120px;
  transform: none;
}

.a139:hover ~ div {
  left: 380px;
  top: 120px;
  transform: none;
}

.a140:hover ~ div {
  left: 0px;
  top: 140px;
  transform: none;
}

.a141:hover ~ div {
  left: 20px;
  top: 140px;
  transform: none;
}

.a142:hover ~ div {
  left: 40px;
  top: 140px;
  transform: none;
}

.a143:hover ~ div {
  left: 60px;
  top: 140px;
  transform: none;
}

.a144:hover ~ div {
  left: 80px;
  top: 140px;
  transform: none;
}

.a145:hover ~ div {
  left: 100px;
  top: 140px;
  transform: none;
}

.a146:hover ~ div {
  left: 120px;
  top: 140px;
  transform: none;
}

.a147:hover ~ div {
  left: 140px;
  top: 140px;
  transform: none;
}

.a148:hover ~ div {
  left: 160px;
  top: 140px;
  transform: none;
}

.a149:hover ~ div {
  left: 180px;
  top: 140px;
  transform: none;
}

.a150:hover ~ div {
  left: 200px;
  top: 140px;
  transform: none;
}

.a151:hover ~ div {
  left: 220px;
  top: 140px;
  transform: none;
}

.a152:hover ~ div {
  left: 240px;
  top: 140px;
  transform: none;
}

.a153:hover ~ div {
  left: 260px;
  top: 140px;
  transform: none;
}

.a154:hover ~ div {
  left: 280px;
  top: 140px;
  transform: none;
}

.a155:hover ~ div {
  left: 300px;
  top: 140px;
  transform: none;
}

.a156:hover ~ div {
  left: 320px;
  top: 140px;
  transform: none;
}

.a157:hover ~ div {
  left: 340px;
  top: 140px;
  transform: none;
}

.a158:hover ~ div {
  left: 360px;
  top: 140px;
  transform: none;
}

.a159:hover ~ div {
  left: 380px;
  top: 140px;
  transform: none;
}

.a160:hover ~ div {
  left: 0px;
  top: 160px;
  transform: none;
}

.a161:hover ~ div {
  left: 20px;
  top: 160px;
  transform: none;
}

.a162:hover ~ div {
  left: 40px;
  top: 160px;
  transform: none;
}

.a163:hover ~ div {
  left: 60px;
  top: 160px;
  transform: none;
}

.a164:hover ~ div {
  left: 80px;
  top: 160px;
  transform: none;
}

.a165:hover ~ div {
  left: 100px;
  top: 160px;
  transform: none;
}

.a166:hover ~ div {
  left: 120px;
  top: 160px;
  transform: none;
}

.a167:hover ~ div {
  left: 140px;
  top: 160px;
  transform: none;
}

.a168:hover ~ div {
  left: 160px;
  top: 160px;
  transform: none;
}

.a169:hover ~ div {
  left: 180px;
  top: 160px;
  transform: none;
}

.a170:hover ~ div {
  left: 200px;
  top: 160px;
  transform: none;
}

.a171:hover ~ div {
  left: 220px;
  top: 160px;
  transform: none;
}

.a172:hover ~ div {
  left: 240px;
  top: 160px;
  transform: none;
}

.a173:hover ~ div {
  left: 260px;
  top: 160px;
  transform: none;
}

.a174:hover ~ div {
  left: 280px;
  top: 160px;
  transform: none;
}

.a175:hover ~ div {
  left: 300px;
  top: 160px;
  transform: none;
}

.a176:hover ~ div {
  left: 320px;
  top: 160px;
  transform: none;
}

.a177:hover ~ div {
  left: 340px;
  top: 160px;
  transform: none;
}

.a178:hover ~ div {
  left: 360px;
  top: 160px;
  transform: none;
}

.a179:hover ~ div {
  left: 380px;
  top: 160px;
  transform: none;
}

.a180:hover ~ div {
  left: 0px;
  top: 180px;
  transform: none;
}

.a181:hover ~ div {
  left: 20px;
  top: 180px;
  transform: none;
}

.a182:hover ~ div {
  left: 40px;
  top: 180px;
  transform: none;
}

.a183:hover ~ div {
  left: 60px;
  top: 180px;
  transform: none;
}

.a184:hover ~ div {
  left: 80px;
  top: 180px;
  transform: none;
}

.a185:hover ~ div {
  left: 100px;
  top: 180px;
  transform: none;
}

.a186:hover ~ div {
  left: 120px;
  top: 180px;
  transform: none;
}

.a187:hover ~ div {
  left: 140px;
  top: 180px;
  transform: none;
}

.a188:hover ~ div {
  left: 160px;
  top: 180px;
  transform: none;
}

.a189:hover ~ div {
  left: 180px;
  top: 180px;
  transform: none;
}

.a190:hover ~ div {
  left: 200px;
  top: 180px;
  transform: none;
}

.a191:hover ~ div {
  left: 220px;
  top: 180px;
  transform: none;
}

.a192:hover ~ div {
  left: 240px;
  top: 180px;
  transform: none;
}

.a193:hover ~ div {
  left: 260px;
  top: 180px;
  transform: none;
}

.a194:hover ~ div {
  left: 280px;
  top: 180px;
  transform: none;
}

.a195:hover ~ div {
  left: 300px;
  top: 180px;
  transform: none;
}

.a196:hover ~ div {
  left: 320px;
  top: 180px;
  transform: none;
}

.a197:hover ~ div {
  left: 340px;
  top: 180px;
  transform: none;
}

.a198:hover ~ div {
  left: 360px;
  top: 180px;
  transform: none;
}

.a199:hover ~ div {
  left: 380px;
  top: 180px;
  transform: none;
}

.a200:hover ~ div {
  left: 0px;
  top: 200px;
  transform: none;
}

.a201:hover ~ div {
  left: 20px;
  top: 200px;
  transform: none;
}

.a202:hover ~ div {
  left: 40px;
  top: 200px;
  transform: none;
}

.a203:hover ~ div {
  left: 60px;
  top: 200px;
  transform: none;
}

.a204:hover ~ div {
  left: 80px;
  top: 200px;
  transform: none;
}

.a205:hover ~ div {
  left: 100px;
  top: 200px;
  transform: none;
}

.a206:hover ~ div {
  left: 120px;
  top: 200px;
  transform: none;
}

.a207:hover ~ div {
  left: 140px;
  top: 200px;
  transform: none;
}

.a208:hover ~ div {
  left: 160px;
  top: 200px;
  transform: none;
}

.a209:hover ~ div {
  left: 180px;
  top: 200px;
  transform: none;
}

.a210:hover ~ div {
  left: 200px;
  top: 200px;
  transform: none;
}

.a211:hover ~ div {
  left: 220px;
  top: 200px;
  transform: none;
}

.a212:hover ~ div {
  left: 240px;
  top: 200px;
  transform: none;
}

.a213:hover ~ div {
  left: 260px;
  top: 200px;
  transform: none;
}

.a214:hover ~ div {
  left: 280px;
  top: 200px;
  transform: none;
}

.a215:hover ~ div {
  left: 300px;
  top: 200px;
  transform: none;
}

.a216:hover ~ div {
  left: 320px;
  top: 200px;
  transform: none;
}

.a217:hover ~ div {
  left: 340px;
  top: 200px;
  transform: none;
}

.a218:hover ~ div {
  left: 360px;
  top: 200px;
  transform: none;
}

.a219:hover ~ div {
  left: 380px;
  top: 200px;
  transform: none;
}

.a220:hover ~ div {
  left: 0px;
  top: 220px;
  transform: none;
}

.a221:hover ~ div {
  left: 20px;
  top: 220px;
  transform: none;
}

.a222:hover ~ div {
  left: 40px;
  top: 220px;
  transform: none;
}

.a223:hover ~ div {
  left: 60px;
  top: 220px;
  transform: none;
}

.a224:hover ~ div {
  left: 80px;
  top: 220px;
  transform: none;
}

.a225:hover ~ div {
  left: 100px;
  top: 220px;
  transform: none;
}

.a226:hover ~ div {
  left: 120px;
  top: 220px;
  transform: none;
}

.a227:hover ~ div {
  left: 140px;
  top: 220px;
  transform: none;
}

.a228:hover ~ div {
  left: 160px;
  top: 220px;
  transform: none;
}

.a229:hover ~ div {
  left: 180px;
  top: 220px;
  transform: none;
}

.a230:hover ~ div {
  left: 200px;
  top: 220px;
  transform: none;
}

.a231:hover ~ div {
  left: 220px;
  top: 220px;
  transform: none;
}

.a232:hover ~ div {
  left: 240px;
  top: 220px;
  transform: none;
}

.a233:hover ~ div {
  left: 260px;
  top: 220px;
  transform: none;
}

.a234:hover ~ div {
  left: 280px;
  top: 220px;
  transform: none;
}

.a235:hover ~ div {
  left: 300px;
  top: 220px;
  transform: none;
}

.a236:hover ~ div {
  left: 320px;
  top: 220px;
  transform: none;
}

.a237:hover ~ div {
  left: 340px;
  top: 220px;
  transform: none;
}

.a238:hover ~ div {
  left: 360px;
  top: 220px;
  transform: none;
}

.a239:hover ~ div {
  left: 380px;
  top: 220px;
  transform: none;
}

.a240:hover ~ div {
  left: 0px;
  top: 240px;
  transform: none;
}

.a241:hover ~ div {
  left: 20px;
  top: 240px;
  transform: none;
}

.a242:hover ~ div {
  left: 40px;
  top: 240px;
  transform: none;
}

.a243:hover ~ div {
  left: 60px;
  top: 240px;
  transform: none;
}

.a244:hover ~ div {
  left: 80px;
  top: 240px;
  transform: none;
}

.a245:hover ~ div {
  left: 100px;
  top: 240px;
  transform: none;
}

.a246:hover ~ div {
  left: 120px;
  top: 240px;
  transform: none;
}

.a247:hover ~ div {
  left: 140px;
  top: 240px;
  transform: none;
}

.a248:hover ~ div {
  left: 160px;
  top: 240px;
  transform: none;
}

.a249:hover ~ div {
  left: 180px;
  top: 240px;
  transform: none;
}

.a250:hover ~ div {
  left: 200px;
  top: 240px;
  transform: none;
}

.a251:hover ~ div {
  left: 220px;
  top: 240px;
  transform: none;
}

.a252:hover ~ div {
  left: 240px;
  top: 240px;
  transform: none;
}

.a253:hover ~ div {
  left: 260px;
  top: 240px;
  transform: none;
}

.a254:hover ~ div {
  left: 280px;
  top: 240px;
  transform: none;
}

.a255:hover ~ div {
  left: 300px;
  top: 240px;
  transform: none;
}

.a256:hover ~ div {
  left: 320px;
  top: 240px;
  transform: none;
}

.a257:hover ~ div {
  left: 340px;
  top: 240px;
  transform: none;
}

.a258:hover ~ div {
  left: 360px;
  top: 240px;
  transform: none;
}

.a259:hover ~ div {
  left: 380px;
  top: 240px;
  transform: none;
}

.a260:hover ~ div {
  left: 0px;
  top: 260px;
  transform: none;
}

.a261:hover ~ div {
  left: 20px;
  top: 260px;
  transform: none;
}

.a262:hover ~ div {
  left: 40px;
  top: 260px;
  transform: none;
}

.a263:hover ~ div {
  left: 60px;
  top: 260px;
  transform: none;
}

.a264:hover ~ div {
  left: 80px;
  top: 260px;
  transform: none;
}

.a265:hover ~ div {
  left: 100px;
  top: 260px;
  transform: none;
}

.a266:hover ~ div {
  left: 120px;
  top: 260px;
  transform: none;
}

.a267:hover ~ div {
  left: 140px;
  top: 260px;
  transform: none;
}

.a268:hover ~ div {
  left: 160px;
  top: 260px;
  transform: none;
}

.a269:hover ~ div {
  left: 180px;
  top: 260px;
  transform: none;
}

.a270:hover ~ div {
  left: 200px;
  top: 260px;
  transform: none;
}

.a271:hover ~ div {
  left: 220px;
  top: 260px;
  transform: none;
}

.a272:hover ~ div {
  left: 240px;
  top: 260px;
  transform: none;
}

.a273:hover ~ div {
  left: 260px;
  top: 260px;
  transform: none;
}

.a274:hover ~ div {
  left: 280px;
  top: 260px;
  transform: none;
}

.a275:hover ~ div {
  left: 300px;
  top: 260px;
  transform: none;
}

.a276:hover ~ div {
  left: 320px;
  top: 260px;
  transform: none;
}

.a277:hover ~ div {
  left: 340px;
  top: 260px;
  transform: none;
}

.a278:hover ~ div {
  left: 360px;
  top: 260px;
  transform: none;
}

.a279:hover ~ div {
  left: 380px;
  top: 260px;
  transform: none;
}

.a280:hover ~ div {
  left: 0px;
  top: 280px;
  transform: none;
}

.a281:hover ~ div {
  left: 20px;
  top: 280px;
  transform: none;
}

.a282:hover ~ div {
  left: 40px;
  top: 280px;
  transform: none;
}

.a283:hover ~ div {
  left: 60px;
  top: 280px;
  transform: none;
}

.a284:hover ~ div {
  left: 80px;
  top: 280px;
  transform: none;
}

.a285:hover ~ div {
  left: 100px;
  top: 280px;
  transform: none;
}

.a286:hover ~ div {
  left: 120px;
  top: 280px;
  transform: none;
}

.a287:hover ~ div {
  left: 140px;
  top: 280px;
  transform: none;
}

.a288:hover ~ div {
  left: 160px;
  top: 280px;
  transform: none;
}

.a289:hover ~ div {
  left: 180px;
  top: 280px;
  transform: none;
}

.a290:hover ~ div {
  left: 200px;
  top: 280px;
  transform: none;
}

.a291:hover ~ div {
  left: 220px;
  top: 280px;
  transform: none;
}

.a292:hover ~ div {
  left: 240px;
  top: 280px;
  transform: none;
}

.a293:hover ~ div {
  left: 260px;
  top: 280px;
  transform: none;
}

.a294:hover ~ div {
  left: 280px;
  top: 280px;
  transform: none;
}

.a295:hover ~ div {
  left: 300px;
  top: 280px;
  transform: none;
}

.a296:hover ~ div {
  left: 320px;
  top: 280px;
  transform: none;
}

.a297:hover ~ div {
  left: 340px;
  top: 280px;
  transform: none;
}

.a298:hover ~ div {
  left: 360px;
  top: 280px;
  transform: none;
}

.a299:hover ~ div {
  left: 380px;
  top: 280px;
  transform: none;
}

.a300:hover ~ div {
  left: 0px;
  top: 300px;
  transform: none;
}

.a301:hover ~ div {
  left: 20px;
  top: 300px;
  transform: none;
}

.a302:hover ~ div {
  left: 40px;
  top: 300px;
  transform: none;
}

.a303:hover ~ div {
  left: 60px;
  top: 300px;
  transform: none;
}

.a304:hover ~ div {
  left: 80px;
  top: 300px;
  transform: none;
}

.a305:hover ~ div {
  left: 100px;
  top: 300px;
  transform: none;
}

.a306:hover ~ div {
  left: 120px;
  top: 300px;
  transform: none;
}

.a307:hover ~ div {
  left: 140px;
  top: 300px;
  transform: none;
}

.a308:hover ~ div {
  left: 160px;
  top: 300px;
  transform: none;
}

.a309:hover ~ div {
  left: 180px;
  top: 300px;
  transform: none;
}

.a310:hover ~ div {
  left: 200px;
  top: 300px;
  transform: none;
}

.a311:hover ~ div {
  left: 220px;
  top: 300px;
  transform: none;
}

.a312:hover ~ div {
  left: 240px;
  top: 300px;
  transform: none;
}

.a313:hover ~ div {
  left: 260px;
  top: 300px;
  transform: none;
}

.a314:hover ~ div {
  left: 280px;
  top: 300px;
  transform: none;
}

.a315:hover ~ div {
  left: 300px;
  top: 300px;
  transform: none;
}

.a316:hover ~ div {
  left: 320px;
  top: 300px;
  transform: none;
}

.a317:hover ~ div {
  left: 340px;
  top: 300px;
  transform: none;
}

.a318:hover ~ div {
  left: 360px;
  top: 300px;
  transform: none;
}

.a319:hover ~ div {
  left: 380px;
  top: 300px;
  transform: none;
}

.a320:hover ~ div {
  left: 0px;
  top: 320px;
  transform: none;
}

.a321:hover ~ div {
  left: 20px;
  top: 320px;
  transform: none;
}

.a322:hover ~ div {
  left: 40px;
  top: 320px;
  transform: none;
}

.a323:hover ~ div {
  left: 60px;
  top: 320px;
  transform: none;
}

.a324:hover ~ div {
  left: 80px;
  top: 320px;
  transform: none;
}

.a325:hover ~ div {
  left: 100px;
  top: 320px;
  transform: none;
}

.a326:hover ~ div {
  left: 120px;
  top: 320px;
  transform: none;
}

.a327:hover ~ div {
  left: 140px;
  top: 320px;
  transform: none;
}

.a328:hover ~ div {
  left: 160px;
  top: 320px;
  transform: none;
}

.a329:hover ~ div {
  left: 180px;
  top: 320px;
  transform: none;
}

.a330:hover ~ div {
  left: 200px;
  top: 320px;
  transform: none;
}

.a331:hover ~ div {
  left: 220px;
  top: 320px;
  transform: none;
}

.a332:hover ~ div {
  left: 240px;
  top: 320px;
  transform: none;
}

.a333:hover ~ div {
  left: 260px;
  top: 320px;
  transform: none;
}

.a334:hover ~ div {
  left: 280px;
  top: 320px;
  transform: none;
}

.a335:hover ~ div {
  left: 300px;
  top: 320px;
  transform: none;
}

.a336:hover ~ div {
  left: 320px;
  top: 320px;
  transform: none;
}

.a337:hover ~ div {
  left: 340px;
  top: 320px;
  transform: none;
}

.a338:hover ~ div {
  left: 360px;
  top: 320px;
  transform: none;
}

.a339:hover ~ div {
  left: 380px;
  top: 320px;
  transform: none;
}

.a340:hover ~ div {
  left: 0px;
  top: 340px;
  transform: none;
}

.a341:hover ~ div {
  left: 20px;
  top: 340px;
  transform: none;
}

.a342:hover ~ div {
  left: 40px;
  top: 340px;
  transform: none;
}

.a343:hover ~ div {
  left: 60px;
  top: 340px;
  transform: none;
}

.a344:hover ~ div {
  left: 80px;
  top: 340px;
  transform: none;
}

.a345:hover ~ div {
  left: 100px;
  top: 340px;
  transform: none;
}

.a346:hover ~ div {
  left: 120px;
  top: 340px;
  transform: none;
}

.a347:hover ~ div {
  left: 140px;
  top: 340px;
  transform: none;
}

.a348:hover ~ div {
  left: 160px;
  top: 340px;
  transform: none;
}

.a349:hover ~ div {
  left: 180px;
  top: 340px;
  transform: none;
}

.a350:hover ~ div {
  left: 200px;
  top: 340px;
  transform: none;
}

.a351:hover ~ div {
  left: 220px;
  top: 340px;
  transform: none;
}

.a352:hover ~ div {
  left: 240px;
  top: 340px;
  transform: none;
}

.a353:hover ~ div {
  left: 260px;
  top: 340px;
  transform: none;
}

.a354:hover ~ div {
  left: 280px;
  top: 340px;
  transform: none;
}

.a355:hover ~ div {
  left: 300px;
  top: 340px;
  transform: none;
}

.a356:hover ~ div {
  left: 320px;
  top: 340px;
  transform: none;
}

.a357:hover ~ div {
  left: 340px;
  top: 340px;
  transform: none;
}

.a358:hover ~ div {
  left: 360px;
  top: 340px;
  transform: none;
}

.a359:hover ~ div {
  left: 380px;
  top: 340px;
  transform: none;
}

.a360:hover ~ div {
  left: 0px;
  top: 360px;
  transform: none;
}

.a361:hover ~ div {
  left: 20px;
  top: 360px;
  transform: none;
}

.a362:hover ~ div {
  left: 40px;
  top: 360px;
  transform: none;
}

.a363:hover ~ div {
  left: 60px;
  top: 360px;
  transform: none;
}

.a364:hover ~ div {
  left: 80px;
  top: 360px;
  transform: none;
}

.a365:hover ~ div {
  left: 100px;
  top: 360px;
  transform: none;
}

.a366:hover ~ div {
  left: 120px;
  top: 360px;
  transform: none;
}

.a367:hover ~ div {
  left: 140px;
  top: 360px;
  transform: none;
}

.a368:hover ~ div {
  left: 160px;
  top: 360px;
  transform: none;
}

.a369:hover ~ div {
  left: 180px;
  top: 360px;
  transform: none;
}

.a370:hover ~ div {
  left: 200px;
  top: 360px;
  transform: none;
}

.a371:hover ~ div {
  left: 220px;
  top: 360px;
  transform: none;
}

.a372:hover ~ div {
  left: 240px;
  top: 360px;
  transform: none;
}

.a373:hover ~ div {
  left: 260px;
  top: 360px;
  transform: none;
}

.a374:hover ~ div {
  left: 280px;
  top: 360px;
  transform: none;
}

.a375:hover ~ div {
  left: 300px;
  top: 360px;
  transform: none;
}

.a376:hover ~ div {
  left: 320px;
  top: 360px;
  transform: none;
}

.a377:hover ~ div {
  left: 340px;
  top: 360px;
  transform: none;
}

.a378:hover ~ div {
  left: 360px;
  top: 360px;
  transform: none;
}

.a379:hover ~ div {
  left: 380px;
  top: 360px;
  transform: none;
}

.a380:hover ~ div {
  left: 0px;
  top: 380px;
  transform: none;
}

.a381:hover ~ div {
  left: 20px;
  top: 380px;
  transform: none;
}

.a382:hover ~ div {
  left: 40px;
  top: 380px;
  transform: none;
}

.a383:hover ~ div {
  left: 60px;
  top: 380px;
  transform: none;
}

.a384:hover ~ div {
  left: 80px;
  top: 380px;
  transform: none;
}

.a385:hover ~ div {
  left: 100px;
  top: 380px;
  transform: none;
}

.a386:hover ~ div {
  left: 120px;
  top: 380px;
  transform: none;
}

.a387:hover ~ div {
  left: 140px;
  top: 380px;
  transform: none;
}

.a388:hover ~ div {
  left: 160px;
  top: 380px;
  transform: none;
}

.a389:hover ~ div {
  left: 180px;
  top: 380px;
  transform: none;
}

.a390:hover ~ div {
  left: 200px;
  top: 380px;
  transform: none;
}

.a391:hover ~ div {
  left: 220px;
  top: 380px;
  transform: none;
}

.a392:hover ~ div {
  left: 240px;
  top: 380px;
  transform: none;
}

.a393:hover ~ div {
  left: 260px;
  top: 380px;
  transform: none;
}

.a394:hover ~ div {
  left: 280px;
  top: 380px;
  transform: none;
}

.a395:hover ~ div {
  left: 300px;
  top: 380px;
  transform: none;
}

.a396:hover ~ div {
  left: 320px;
  top: 380px;
  transform: none;
}

.a397:hover ~ div {
  left: 340px;
  top: 380px;
  transform: none;
}

.a398:hover ~ div {
  left: 360px;
  top: 380px;
  transform: none;
}

.a399:hover ~ div {
  left: 380px;
  top: 380px;
  transform: none;
}

@keyframes circle {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

/*# sourceMappingURL=main.css.map */
