/*
date:21 August 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi 
*/
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #506172;
}
.frame{
    background-color: white;
    padding: 1rem;
    width: 40%;
    border-radius: 10px;
}
.frame input{
    width: 100%;
}
.frame input::-webkit-slider-runnable-track{
    background-color: #7AD100;
    border: none;
    border-radius: 999px;
    height: 10px;
}