/*
date:21 August 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi 
*/
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #506172;
}
.frame{
    background-color: white;
    padding: 1rem;
    width: 40%;
    border-radius: 10px;
}
.frame input{
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
}
.frame input::-webkit-slider-runnable-track{
    background-color: #7AD100;
    border: none;
    border-radius: 999px;
    height: 5px;
}
.frame input::-webkit-slider-thumb{
    border: 3px solid #7AD100;
    -webkit-appearance: none;
    width:34px;
    height:34px;
    border-radius: 100%;
    background: white url("./img/slider-thumb.png") center center no-repeat;
    transform: translateY(-43%);
}