/* 
date:10 July 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi 
*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #5CA4EA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.frame{
    padding: 1rem;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}
input{
    outline: none;
    border: none;
    font-size: 3rem;
    color: #4D8DCB;
}
input::placeholder{
    color: #A4B9CE;
}
.resualtContainer{
    display: none;
    background-color: white;
    position: absolute;
    width: 95.5%;
    padding: 1rem;
    top:105%;
    left: 0;
    text-align: center;
    font-size: 2rem;
}
.resualtContainer a{
    display: block;
    text-align: center;
    text-decoration: none;
}