/* 
date:13 July 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi  
*/
/* 
--------
duration(60)/( oscillations(40)+numberOfDots(20)-c ) 
*/
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    height: 100vh;
    background-color:#4C4BA2;
}
.dot{
    background-color: white;
    border-radius: 100%;
    width: 1.5%;
    aspect-ratio: 1/1;
}
.dot1{
    animation: dot 1.016949153s ease-in-out infinite;
}
.dot2{
    animation: dot 1.034482759s ease-in-out infinite;
}
.dot3{
    animation: dot 1.052631579s ease-in-out infinite;
}
.dot4{
    animation: dot 1.071428571s ease-in-out infinite;
}
.dot5{
    animation: dot 1.090909091s ease-in-out infinite;
}
.dot6{
    animation: dot 1.111111111s ease-in-out infinite;
}
@keyframes dot{
    0%{
        transform: translateX(300px);
    }
    50%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(300px);
    }
}