/* 
date:13 July 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi  
*/
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    height: 100vh;
    background-color:#4C4BA2;
}
.dot{
    background-color: white;
    border-radius: 100%;
    width: 1.5%;
    aspect-ratio: 1/1;
}