/*
date:7 August 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi 
*/
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.frame{
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(20,minmax(0,1fr));
    grid-template-rows: repeat(20,minmax(0,1fr));
}
.pixel{
    display: block;
    width: 30px;
    height: 30px;
    background-color: #DE4738;
    border: 1px solid #fa8e82;
    transition: 0.5s;
    cursor: pointer;
    &:hover{
    background-color: #fa8e82;
    }
}
@for $i from 1 through 420{
    #ch#{$i}:checked ~ .frame .ch#{$i}{
        background-color: white;
        border-color: white;
    }
}