/*
date:25 July 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi   
*/
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.frame {
  background-image: linear-gradient(to bottom, #1d4253 0%, #6bb5c4 100%);
  width: 500px;
  height: 500px;
  border-radius: 100%;
  position: relative;
}
.star {
  width: 2px;
  height: 2px;
  position: absolute;
  background-color: white;
  border-radius: 100%;
}
.star::before,
.star::after {
  content: "";
  background-color: white;
  position: absolute;
  width: 2px;
  height: 2px;
}
.star1 {
  top: 10%;
  left: 30%;
}
.star1::before {
  left: 30px;
}
.star1::after {
  left: 30px;
  top: 20px;
}