/*
date:25 July 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi   
*/
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.frame {
  background-image: linear-gradient(to bottom, #1d4253 0%, #6bb5c4 100%);
  width: 500px;
  height: 500px;
  border-radius: 100%;
  position: relative;
}
.star {
  width: 2px;
  height: 2px;
  position: absolute;
  background-color: white;
  border-radius: 100%;
}
.star::before,
.star::after {
  content: "";
  background-color: white;
  position: absolute;
  width: 2px;
  height: 2px;
}
@for $i from 1 through 151{
.star#{$i} {
  top: random(280)+px;
  left: random(280)+px;
  animation: star ((random(5)+40)/10)+s infinite ((random(5)+random(60))/10)+s;
}
.star#{$i}::before {
  left: random(280)+px;
  top:random(280)+px;
  animation: star ((random(5)+40)/10)+s infinite ((random(5)+random(60))/10)+s;
}
.star#{$i}::after {
  left: random(280)+px;
  top: random(280)+px;
  animation: star ((random(5)+40)/10)+s infinite ((random(5)+random(60))/10)+s;
}
}
img{
    rotate: 25deg;
    position: absolute;
    left: -220px;
    top: 0;
}
@keyframes star{
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0.2;
    }
}