/*
this file created at 11 April 2025 by Ali Shahbazi 
github : https://www.github.com/imShahbazi
gitlab : https://wwww.gitlab.com/AliShahbazi 
*/
*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.frame{
    width: 500px;
    height: 500px;
    position: relative;
}
.topBackground , .bottomBackground{
    height: 50%;
}
.topBackground{
    background-color: #444;
}
.bottomBackground{
    background-color: #37D493;
}
