/* 
date:18 July 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi    
*/
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2B3642;
}
.frame{
    min-width: 300px;
    width: 50%;
    background-color: white;
}
.menu{
    background-color: #3D4D5E;
    display: flex;
    justify-content: center;
    gap:5px;
    align-items: center;
}