/*
date:4 August 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi 
*/
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #27ae60;
}
.frame {
  width: 200px;
  aspect-ratio: 1/1;
  position: relative;
}
.cContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 15px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.cContainer1 {
  animation: cc1 10s infinite;
}
.cContainer2 {
  rotate: -90deg;
  bottom: 0;
  left: -78%;
  animation: cc2 10s infinite;
}
.cContainer3 {
  rotate: -180deg;
  bottom: -120%;
  left: 20%;
  animation: cc3 10s infinite;
}
.cContainer4 {
  rotate: -270deg;
  bottom: -27%;
  left: 140%;
  animation: cc4 10s infinite;
}
.cContainer5 {
  rotate: -45deg;
  left: -37.5%;
  bottom: 78%;
  animation: cc5 10s infinite;
}
.cContainer6 {
  rotate: -135deg;
  left: -55%;
  bottom: -78%;
  animation: cc6 10s infinite;
}
.cContainer7 {
  rotate: -225deg;
  bottom: -98%;
  left: 100%;
  animation: cc7 10s infinite;
}
.cContainer8 {
  rotate: -315deg;
  bottom: 55%;
  left: 123%;
  animation: cc8 10s infinite;
}
.cContainer9 {
  rotate: -22.5deg;
  bottom: 97%;
  left: 3%;
  animation: cc9 10s infinite;
}
.cContainer10 {
  rotate: -67.5deg;
  bottom: 43%;
  left: -65%;
  animation: cc10 10s infinite;
}
.cContainer12 {
  rotate: -112.5deg;
  bottom: -41%;
  left: -75%;
  animation: cc12 10s infinite;
}
.cContainer13 {
  rotate: -157.5deg;
  bottom: -106%;
  left: -22%;
  animation: cc13 10s infinite;
}
.cContainer14 {
  rotate: -202.5deg;
  bottom: -117%;
  left: 62%;
  animation: cc14 10s infinite;
}
.cContainer15 {
  rotate: -247.5deg;
  bottom: -66%;
  left: 125%;
  animation: cc15 10s infinite;
}
.cContainer16 {
  rotate: -292.5deg;
  bottom: 14.5%;
  left: 140%;
  animation: cc16 10s infinite;
}
.cContainer17 {
  rotate: -337.5deg;
  bottom: 84%;
  left: 90%;
  animation: cc17 10s infinite;
}
.circle {
  width: 40px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 100%;
}
.circle1 {
  width: 35px;
  opacity: 0.9;
  margin-left: 27px;
}
.circle2 {
  width: 30px;
  opacity: 0.8;
  margin-left: 42px;
}
.circle3 {
  width: 25px;
  opacity: 0.7;
  margin-left: 48px;
}
.circle4 {
  width: 20px;
  opacity: 0.6;
  margin-left: 47px;
}
.circle5 {
  width: 15px;
  opacity: 0.5;
  margin-left: 40px;
}
@keyframes cc1 {
  0%,
  100% {
    rotate: 0;
  }
  50%,
  60% {
    rotate: -50deg;
  }
}
@keyframes cc2 {
  0%,
  100% {
    rotate: -90deg;
  }
  50%,
  60% {
    rotate: -140deg;
  }
}
@keyframes cc3 {
  0%,
  100% {
    rotate: -180deg;
  }
  50%,
  60% {
    rotate: -230deg;
  }
}
@keyframes cc4 {
  0%,
  100% {
    rotate: -270deg;
  }
  50%,
  60% {
    rotate: -320deg;
  }
}
@keyframes cc5 {
  0%,
  100% {
    rotate: -45deg;
  }
  50%,
  60% {
    rotate: -95deg;
  }
}
@keyframes cc6 {
  0%,
  100% {
    rotate: -135deg;
  }
  50%,
  60% {
    rotate: -185deg;
  }
}
@keyframes cc7 {
  0%,
  100% {
    rotate: -225deg;
  }
  50%,
  60% {
    rotate: -275deg;
  }
}
@keyframes cc8 {
  0%,
  100% {
    rotate: -315deg;
  }
  50%,
  60% {
    rotate: -365deg;
  }
}
@keyframes cc9 {
  0%,
  100% {
    rotate: -22.5deg;
  }
  50%,
  60% {
    rotate: -72.5deg;
  }
}
@keyframes cc10 {
  0%,
  100% {
    rotate: -67.5deg;
  }
  50%,
  60% {
    rotate: -117.5deg;
  }
}
@keyframes cc12 {
  0%,
  100% {
    rotate: -112.5deg;
  }
  50%,
  60% {
    rotate: -162.5deg;
  }
}
@keyframes cc13 {
  0%,
  100% {
    rotate: -157.5deg;
  }
  50%,
  60% {
    rotate: -207.5deg;
  }
}
@keyframes cc14 {
  0%,
  100% {
    rotate: -202.5deg;
  }
  50%,
  60% {
    rotate: -252.5deg;
  }
}
@keyframes cc15 {
  0%,
  100% {
    rotate: -247.5deg;
  }
  50%,
  60% {
    rotate: -297.5deg;
  }
}
@keyframes cc16 {
  0%,
  100% {
    rotate: -292.5deg;
  }
  50%,
  60% {
    rotate: -342.5deg;
  }
}
@keyframes cc17 {
  0%,
  100% {
    rotate: -337.5deg;
  }
  50%,
  60% {
    rotate: -387.5deg;
  }
}