/*
date:4 August 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi 
*/
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #27ae60;
}
.frame{
    width: 10%;
    aspect-ratio: 1/1;
    position: relative;
    border: 1px solid white;
    border-radius: 999px;
}