/* this file create at 16 december 2024 by Ali Shahbazi 
github : https://www.github.com/imShahbazi
gitlab : https://wwww.gitlab.com/AliShahbazi */
body {
  display: flex;
  justify-content: center;
}
* {
  font-family: 'Open Sans', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.frame {
  width: 400px;
  height: 400px;
  background-color: #42a7a1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.base-1 {
  width: 90%;
  height: 80%;
  background-color: white;
  border-radius: 5px;
}
.data-base {
  background-color: #f1ba64;
  height: 10%;
  padding: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  font-weight: bold;
}
h2 {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}
p {
  color: white;
  margin-top: 0.1rem;
  font-size: 0.8rem;
}
.data-base > div {
  width: 50%;
}
.data-base-p2 h2 {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}
.data-base-p2 > * {
  margin-left: auto;
  width: fit-content;
}
.chart-data {
  width: fit-content;
  margin-left: auto;
  height: 10px;
  display: flex;
  padding: 1rem;
  padding-right: 0.5rem;
  align-items: center;
  gap: 1rem;
}
.line {
  width: 20px;
  height: 5px;
  border-radius: 20px;
}
.chart-data-red-line {
  background-color: red;
}
.chart-data-blue-line {
  background-color: blue;
}
.chart-data p {
  color: black;
}
.chart {
  width: 90%;
  height: 67%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.chart-line {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(173, 173, 173);
}
img {
  position: relative;
  z-index: 5;
}
.chart-line2 {
  top: 35%;
}
.chart-line3 {
  bottom: 25%;
}
.point-red {
  position: absolute;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 99999px;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.point-red div {
  position: absolute;
  bottom: 17px;
  background-color: red;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s;
}
.point-red:hover div {
  opacity: 1;
  transition: 1s;
}
.point-red div p {
  position: relative;
  z-index: 1;
}
.point-red div::after {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  content: ' ';
  bottom: -3px;
  transform: rotate(45deg);
}
.point-red-1 {
  top: 44%;
  left: 2%;
}
.point-red-2 {
  top: 7%;
  left: 17%;
}
.point-red-3 {
  top: 16%;
  left: 35.5%;
}
.point-red-4 {
  top: 7%;
  left: 51%;
}
.point-red-5 {
  top: 33%;
  left: 67%;
}
.point-red-6 {
  top: 37%;
  left: 85%;
}
.point-red-7 {
  top: 15%;
  left: 94%;
}
.point-blue {
  position: absolute;
  background-color: blue;
  width: 10px;
  height: 10px;
  border-radius: 99999px;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.point-blue div {
  position: absolute;
  bottom: 17px;
  background-color: blue;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s;
}
.point-blue:hover div {
  opacity: 1;
  transition: 1s;
}
.point-blue div p {
  position: relative;
  z-index: 1;
}
.point-blue div::after {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: blue;
  content: ' ';
  bottom: -3px;
  transform: rotate(45deg);
}
.point-blue-1 {
  top: 61%;
  left: 1%;
}
.point-blue-2 {
  top: 51%;
  left: 17%;
}
.point-blue-3 {
  top: 65%;
  left: 36%;
}
.point-blue-4 {
  top: 56%;
  left: 51%;
}
.point-blue-5 {
  top: 60%;
  left: 66.5%;
}
.point-blue-6 {
  top: 69%;
  left: 82%;
}
.point-blue-7 {
  top: 60%;
  left: 97%;
}
