/* 
date:27 July 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi  
*/
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}
.rect{
    border: 1px solid white;
    aspect-ratio: 1/1;
    position: absolute;
}