/* 
date:27 July 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi  
*/
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    overflow: hidden;
}
.rect{
    border: 1px solid;
    aspect-ratio: 1/1;
    position: absolute;
}
@for $i from 1 through 40{
    .rect#{$i}{
        width: 41-$i+%;
        border-color: rgb(80+$i*8,80+$i*8,80+$i*8);
        animation: rect 2s ($i/30)+s infinite alternate;
    }
}
@keyframes rect{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}