/* this file create at 20 March 2025 by Ali Shahbazi 
github : https://www.github.com/imShahbazi
gitlab : https://wwww.gitlab.com/AliShahbazi */
.frame{
    width: 410px;
    height: max-content;
    margin-inline: auto;
    position: relative;
    overflow: hidden;
}
.galery{
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
}
img{
    width: 100%;
    aspect-ratio: 1/1;
}
.frame > div img{
    transition: 0.5s;
}
.galery > div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.galery > div:hover .plus-circle{
    transform:scale(1);
    opacity: 1;
}
.galery > div:hover img{
    opacity: 0.5;
}
.plus-circle{
    background-color: #EC6565;
    width: 25%;
    height: 25%;
    border-radius: 999px;
    position: absolute;
    transform: scale(3);
    opacity: 0;
    z-index: 10;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line1{
    position: absolute;
    background-color: white;
    width: 40%;
    height: 2px;
}
.line2{
    background-color: white;
    width: 40%;
    height: 2px;
    transform: rotate(-90deg);
}
.showInfo{
    position: absolute;
    width: 100%;
    height: 102%;
    z-index: 50;
    pointer-events: none;
    transition: 0.5s;
}
.showInfo .header{
    height: 50%;
    transform: translateY(-100%);
    transition:0.5s ease-out;
}
.showInfo > div{
    background-color: #EC6565;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: 0.5s ease-out;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.showInfo > div p:nth-child(1){
    font-weight: bold;
}
.showInfo .profile{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    border-radius: 999px;
    border:3px solid white;
    aspect-ratio: 1/1;
    z-index: 52;
    transition: 0.5s;
    
}
.showInfo .close{
    width: 40px;
    height: 40px;
    background-color: #EC6565;
    border-radius: 999px;
    position: absolute;
    right: 2%;
    top:-20%;
    z-index: 53;
}
.contact .info{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.contact .info div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    border: 1px solid white;
    border-radius: 999px;
    aspect-ratio: 1/1;
    transition: 0.5s;
    cursor: pointer;
}
.contact .info div:hover{
    background-color: white;
    color: #EC6565;
    transition: 0.5s;
}
.active{
    display: flex;
    flex-direction: column;
    pointer-events: all;
}
.active .close{
    top:-8%;
    transition:0.5s;
}
.active .header{
    transform: translateY(0);
    transition:0.5s ease-out;
}
.active .contact{
    transform: translateY(0);
    transition: 0.5s ease-out;
}
.active .profile{
    top: 50%;
    transition: 1.5s;
}
.close{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.close:hover{
    background-color: white;
}
.close:hover div{
    background-color: #EC6565;
}
.close-line1{
    width: 40%;
    background-color: white;
    border-radius: 999px;
    height: 2px;
    position: absolute;
    transform: rotate(45deg);
}
.close-line2{
    width: 40%;
    background-color: white;
    border-radius: 999px;
    height: 2px;
    position: absolute;
    transform: rotate(-45deg);
}