/* 
date:17 July 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi 
*/
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1BBE9E;
    height: 100vh;
}
svg{
    rotate: -87deg;
}
svg circle{
    stroke-dasharray: 289;
}