/*
this file created at 18 April 2025 by Ali Shahbazi 
github : https://www.github.com/imShahbazi
gitlab : https://wwww.gitlab.com/AliShahbazi 
*/
*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.frame{
    width: 500px;
    height: 500px;
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
}