/* this file create at 16 december 2024 by Ali Shahbazi 
github : https://www.github.com/imShahbazi
gitlab : https://wwww.gitlab.com/AliShahbazi */
body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigCircle{
    background-color: white;
    width: 400px;
    height: 400px;
    border-radius: 999px;
    filter: blur(0.9px);
}