/* this file create at 9 March 2025 by Ali Shahbazi 
github : https://www.github.com/imShahbazi
gitlab : https://wwww.gitlab.com/AliShahbazi */
body{
    background-image: radial-gradient(ellipse at center, #f6e8d7 0%, #dabe9b 100%);
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0;
    margin: 0;
}
img{
    display: block;
    margin-top: auto;
}
.frame{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.black{
    background-color: black;
    width: 100%;
    height: 35%;
}
.footContainer{
    display: flex;
    justify-content: center;
    position: relative;
}
.foot1{
    height: 50vh;
    display: flex;
    flex-direction: column;
    animation-name: walk;
    animation-duration: 2s;
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.foot2{
    height: 50vh;
    display: flex;
    flex-direction: column;
    animation-name: walk;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes walk{
0%{
    transform: rotate(0);
}
33.3333333333%{
    transform: rotate(50deg);
}
66.6666666666%{
    transform: translate(100px,-20px) rotate(-40deg);
}
100%{
    transform: rotate(0) translate(0,0);
}
}