/* 
date:1 July 2025
author:Ali Shahbazi
github: https://www.github.com/imShahbazi 
*/
@font-face {
    font-family: openSans;
    src: url("./font/openSans.ttf");
}
*{
    padding: 0;
    margin: 0;
    font-family: openSans;
}
body{
    background-color: #C7D6E1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.frame{
    width: 600px;
    height: 400px;
    background-color: white;
    position: relative;
    overflow: hidden;
}
.numberContainer{
    position: absolute;
    background-color: #8391A1;
    width: 170px;
    height: 100px;
    rotate: 45deg;
    top: -25px;
    right: -60px;
}
.number{
    color: white;
    position: absolute;
    right: 25px;
    top: 5px;
    font-size: 40px;
}