/* date:5 July 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top right, #FDA231 0%, #FDCA31 100%);
}
.frame{
    background-color: white;
    border-radius: 0.5rem;
    width: 30%;
    height: 70%;
}