/* date:5 July 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi */
@font-face {
    font-family: bN;
    src: url("./font/B-NAZANIN.TTF");
}
*{
    margin: 0;
    padding: 0;
    font-family: bN;
    color: #497081;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top right, #FDA231 0%, #FDCA31 100%);
}
.frame{
    background-color: white;
    border-radius: 0.5rem;
    width: 30%;
    height: 70%;
    padding-inline: 3rem;
    padding-block: 4rem;
    direction: rtl;
}
.frame h1,.date{
    font-size: 4rem;
    text-align: center;
}
.date{
    font-size: 2rem;
    margin-top: 1.25rem;
}
.header{
    padding-bottom: 3rem;
    border-bottom: 1px solid #d1d2d3;
}
.listContainer{
    display: flex;
    justify-content: space-between;
}
.listContainer h2{
    font-weight: normal;
}
label{
    width: 24px;
    height: 24px;
    border: 1px solid black;
    border-radius: 100%;
}