/* 
date:28 July 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi 
 */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #5ca4ea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.bg {
  fill: #5ca4ea;
  stroke: #91c9ff;
  transition: 0.5s;
}
.line {
  stroke: #fff;
  stroke-dasharray: 40 480;
  stroke-dashoffset: 40;
  transition:0.5s;
}
