/*
date:19 August 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi 
*/
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #27ae60;
}
.ring {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}
.ring1{
    width: 150px;
    height: 150px;
}
.ring2{
    width: 250px;
    height: 250px;
}
.ring3{
    width: 350px;
    height: 350px;
}
.ring4{
    width: 450px;
    height: 450px;
}
.ring5{
    width: 550px;
    height: 550px;
}
.ring6{
    width: 650px;
    height: 650px;
}
.ring7{
    width: 750px;
    height: 750px;
}
.ring8{
    width: 850px;
    height: 850px;
}
.circle{
    position: absolute;
    height: 100%;
    width: 34px;
}
.circle::before{
    width: 100%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 100%;
    content: '';
    position: absolute;
    top: 0;
    transform: scale(0);
}
.circle::after{
    width: 100%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 100%;
    content: '';
    position: absolute;
    bottom: 0;
    transform: scale(0);
}
.circle1-2,.circle2-2,.circle3-2,.circle4-2{
    transform: rotate(-90deg);
}
.circle1-3,.circle2-3,.circle3-3,.circle4-3{
    transform: rotate(-45deg);
}
.circle1-4,.circle2-4,.circle3-4,.circle4-4{
    transform: rotate(-135deg);
}
.circle2-5,.circle3-5,.circle4-5{
    transform: rotate(-22.5deg);
}
.circle2-6,.circle3-6,.circle4-6{
    transform: rotate(-67.5deg);
}
.circle2-7,.circle3-7,.circle4-7{
    transform: rotate(-112.5deg);
}
.circle2-8,.circle3-8,.circle4-8{
    transform: rotate(-157.5deg);
}
.circle4-9{
    transform: rotate(-11.25deg);
}
.circle4-10{
    transform: rotate(-33.75deg);
}
.circle4-11{
    transform: rotate(-56.25deg);
}
.circle4-12{
    transform: rotate(-78.75deg);
}
.circle4-13{
    transform: rotate(-101.25deg);
}
.circle4-14{
    transform: rotate(-123.75deg);
}
.circle4-15{
    transform: rotate(-146.25deg);
}
.circle4-16{
    transform: rotate(-168.75deg);
}
.circle8-17{
    transform: rotate(-5.625deg);
}
.circle8-18{
    transform: rotate(-16.875deg);
}
.circle8-19{
    transform: rotate(-28.125deg);
}
.circle8-20{
    transform: rotate(-39.375deg);
}
.circle8-21{
    transform: rotate(-50.625deg);
}
.circle8-22{
    transform: rotate(-61.875deg);
}
.circle8-23{
    transform: rotate(-73.125deg);
}
.circle8-24{
    transform: rotate(-84.375deg);
}
.circle8-25{
    transform: rotate(-95.625deg);
}
.circle8-26{
    transform: rotate(-106.875deg);
}
.circle8-27{
    transform: rotate(-118.125deg);
}
.circle8-28{
    transform: rotate(-129.375deg);
}
.circle8-29{
    transform: rotate(-140.625deg);
}
.circle8-30{
    transform: rotate(-151.875deg);
}
.circle8-31{
    transform: rotate(-163.125deg);
}
.circle8-32{
    transform: rotate(-174.375deg);
}
.circle1::before,.circle1::after{
    animation: circle 5s infinite;
}
.circle2::before,.circle2::after{
    animation: circle 5s infinite 1s;
}
.circle3::before,.circle3::after{
    animation: circle 5s infinite 2s;
}
.circle4::before,.circle4::after{
    animation: circle 5s infinite 3s;
}
.circle5::before,.circle5::after{
    animation: circle 5s infinite 4s;
}
.circle6::before,.circle6::after{
    animation: circle 5s infinite 5s;
}
.circle7::before,.circle7::after{
    animation: circle 5s infinite 6s;
}
.circle8::before,.circle8::after{
    animation: circle 5s infinite 7s;
}
@keyframes circle{
    0%,100%{
        transform: scale(0);
        opacity: 0;
    }
    50%,70%{
        transform: scale(1);
        opacity: 1;
    }
}