/*
date:19 August 2025
author: Ali Shahbazi
github: https://www.github.com/imShahbazi 
*/
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #27ae60;
}
.ring {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}
.ring1{
    width: 150px;
    height: 150px;
}
.ring2{
    width: 250px;
    height: 250px;
}
.circle{
    position: absolute;
    height: 100%;
    width: 34px;
}
.circle::before{
    width: 100%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 100%;
    content: '';
    position: absolute;
    top: 0;
}
.circle::after{
    width: 100%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 100%;
    content: '';
    position: absolute;
    bottom: 0;
}
.circle1-2{
    transform: rotate(-90deg);
}
.circle1-3{
    transform: rotate(-45deg);
}

.circle1-4{
    transform: rotate(-135deg);
}