/* this file create at 16 december 2024 by Ali Shahbazi 
github : https://www.github.com/imShahbazi
gitlab : https://wwww.gitlab.com/AliShahbazi */
body{
    display: flex;
    justify-content: center;
}
.frame{
    background-image: linear-gradient(to top right, #EEBE6C 0%, #CA7C4E 100%);
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-areya{
    background-color: white;
    width: 80%;
    height: 80%;
    border-radius: 5px;
}
.account-info img{
    width: 100px;
    height: 100px;
    border-radius: 99999px;
}
.circle1,.circle1{
    width: fit-content;
}
.circle1{
    border-radius: 99999px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}