/* this file create at 16 december 2024 by Ali Shahbazi 
github : https://www.github.com/imShahbazi
gitlab : https://wwww.gitlab.com/AliShahbazi */
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
}
.frame{
    background-image: linear-gradient(to top right, #EEBE6C 0%, #CA7C4E 100%);
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-areya{
    background-color: white;
    width: 80%;
    height: 80%;
    border-radius: 5px;
}
.account-info img{
    width: 100px;
    height: 100px;
    border-radius: 99999px;
    display: block;
}
.circle1,.circle2{
    width: fit-content;
    height: fit-content;
    padding: 3px;
    border:2px solid;
}
.circle1{
    border-radius: 99999px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-color: #786450 transparent #786450 #786450;
}
.circle2{
    border-color: #786450 #786450 #786450 transparent;
    border-radius: 99999px;
}
.account-info h2 , .account-info p{
    color: #786450;
    text-align: center;
    font-family: "Open Sans", Helvetica, sans-serif;
}
.account-info h2{
    margin-top: 20px;
}
.account-info p{
    font-size: 12px;
}
.account-info button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 10px;
    border-radius: 60px;
    border: 1px solid #786450;
    background: transparent;
    color: #786450;
    margin-top: 10px;
    transition: 0.5s;
}
.account-info button:hover{
    background-color: #786450;
    color: white;
}