/* this file create at 16 december 2024 by Ali Shahbazi 
github : https://www.github.com/imShahbazi
gitlab : https://wwww.gitlab.com/AliShahbazi */
/* --------------------- main.css --------------------- */
:root {
  --frame-bg: #3faf82;
  --line-width: 50%;
  --line-height: 20px;
  --line-radius: 50px;
  --line-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  --line-gap: 30px;
  --animation-duration: 0.5s;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  height: 100svh;
  margin: 0;
}

.frame {
  margin-top: 5px;
  width: 250px;
  height: 250px;
  background: var(--frame-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.frame > div {
  width: 100%;
  cursor: pointer;
}

.line {
  width: var(--line-width);
  height: var(--line-height);
  background-color: white;
  margin: auto;
  border-radius: var(--line-radius);
  box-shadow: var(--line-shadow);
  will-change: transform, opacity, margin;
  transition: all var(--animation-duration) ease;
}

.line:nth-child(2) {
  margin: var(--line-gap) auto;
}

.line2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.hide-line2 {
  animation: showLine2 var(--animation-duration) forwards;
}
.show-line2 {
  animation: showLine2-rev var(--animation-duration) forwards;
}

.rotate-line1 {
  animation: showLine1 var(--animation-duration) forwards;
}
.rotate-line1-rev {
  animation: showLine1-rev var(--animation-duration) forwards;
}

.rotate-line3 {
  animation: showLine3 var(--animation-duration) forwards;
}
.rotate-line3-rev {
  animation: showLine3-rev var(--animation-duration) forwards;
}

@keyframes showLine2 {
  from {
    margin: var(--line-gap) auto;
    opacity: 1;
  }
  to {
    margin: -20px auto;
    opacity: 0;
  }
}

@keyframes showLine2-rev {
  from {
    margin: -20px auto;
    opacity: 0;
  }
  to {
    margin: var(--line-gap) auto;
    opacity: 1;
  }
}

@keyframes showLine1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(50deg);
  }
}

@keyframes showLine1-rev {
  from {
    transform: rotate(50deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes showLine3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(130deg);
  }
}

@keyframes showLine3-rev {
  from {
    transform: rotate(130deg);
  }
  to {
    transform: rotate(0);
  }
}
