/* this file create at 4 March 2025 by Ali Shahbazi 
github : https://www.github.com/imShahbazi
gitlab : https://wwww.gitlab.com/AliShahbazi */
body{
    background-color: #4C4C4C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.frame{
    background-color: #242424;
    border-radius: 999px;
    width: 400px;
    height: 400px;
    border:15px solid #3A3A3A;
}