/* this file create at 4 March 2025 by Ali Shahbazi 
github : https://www.github.com/imShahbazi
gitlab : https://wwww.gitlab.com/AliShahbazi */
@font-face {
    font-family: openSans;
    src: url("./fonts/openSans.ttf");
}
*{
    font-family: openSans;
}
body{
    background-color: #4C4C4C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.frame{
    background-color: #242424;
    border-radius: 999px;
    width: 400px;
    height: 400px;
    border:15px solid #3A3A3A;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.frame svg{
    position: absolute;
}
.frame svg circle{
    stroke-dasharray: 625;
    animation-name:circle ;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: center center;
}
.data p{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.data >p:nth-child(1){
    text-transform: uppercase;
}
.data > p:nth-child(2){
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}
.personal{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.personal i{
    color: #F85B5B;
    animation-name: beat;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.whiteDots{
    position: absolute;
    border: 3px dotted white;
    width: 93%;
    height: 93%;
    border-radius: 999px;
}
@keyframes beat{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}
@keyframes circle{
    0%{
        stroke-dashoffset: 625;
        transform: rotate(-90deg) scaleY(1);
    }
    50%{
        stroke-dashoffset: 0;
        transform: rotate(-90deg) scaleY(1);
    }
    50.0001%{
        transform: scaleY(-1) rotate(90deg);
    }
    100%{
        stroke-dashoffset: 625;
        transform: scaleY(-1) rotate(90deg);
    }
}