/* this file create at 4 March 2025 by Ali Shahbazi 
github : https://www.github.com/imShahbazi
gitlab : https://wwww.gitlab.com/AliShahbazi */
body{
    background-color: #4C4C4C;
    display: flex;
    justify-content: center;
    align-items: center;
}
